body {
  font-family: "Luxurious Roman", cursive;
  font-family: "Merriweather", serif;
}
h1 {
  font-size: 40px;
  border-left: #88ff00 10px;
  margin-left: 10px;
}
.mission {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 50px;
}
.half-width {
  width: 80%;
  padding-left: 5%;
  box-shadow: 10px 10px 5px 12px rgb(123, 211, 214);
}
.half-width img {
  width: 50%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
}
#partion {
  display: flex;
}
.ornge {
  color: orange;
}
.vis {
  font-size: 30px;
}
.in {
  font-size: 50px;
  border-right: 50px;
}
